body{
    color:bisque;
    background:blueviolet;
    margin: 0px;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px blue;
    padding:20px;
    font-size:32px;
    color: black; 
    font-family: "Open Sans", sans-serif;
}

.chamada{
    background: green;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 3%;
}

h1{
    font-size: 27px;
}

p{
    font-size: 45px;
}



.categoria-imagens{
    display: flex;
    overflow-x: auto;
    gap: 13px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

.categoria-imagens img{
    opacity:0.5; 
    height: 200px
}

.categoria-imagens img:hover{
    opacity: 1.0;
    border: 3px solid brown
}

.categoria h2{
    color: black
}
